// $color-primary: #409EFF; //#18c79c
// $border-level1: #D8DCE5;
// $border-level2: #DFE4ED;
// $font-family: "Helvetica Neue",
// "Helvetica",
// "PingFang SC",
// "Hiragino Sans GB",
// "Microsoft YaHei",
// "Arial",
// "sans-serif";
// $font-size:14px;